<h1>Edit a Course</h1>
<h3>Please select a course</h3>

<form action="" #courseForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="flex-wrapper">
        <label for="title">Title</label>
        <select name="title" id="title" [(ngModel)]="selectedCourse" [disabled]="courseForm.form.invalid">
            <option *ngFor="let course of courses" [ngValue]="course">{{course.title}}</option>
        </select>
    </div>

    <div *ngIf="selectedCourse">
        <div class="flex-wrapper">
            <label for="code">Course Code</label>
            <input type="text" id="code" name="code" [(ngModel)]="selectedCourse.code" #code="ngModel" allowedCourseCode="[Qq]{1}[Aa]{1}[A-Z]{3,}" required>
            <!-- <div *ngIf="code.dirty && code.invalid"><p>Please enter the course code</p></div> -->
            <div *ngIf="code.invalid && (code.dirty || code.touched)">
                <div *ngIf="code.errors.required">Please enter a course code</div>
                <div *ngIf="code.errors.allowedCourseCode && ! code.errors.required">Course Code format incorrect - QA followed by at least 3 more letters</div>
            </div>
        </div>

        <div class="flex-wrapper">
            <label for="delivery">Delivery method</label>
            <input type="text" id="delivery" name="delivery" [(ngModel)]="selectedCourse.delivery" #delivery="ngModel" required>
            <div *ngIf="delivery.dirty && delivery.invalid">Please enter the delivery method</div>
        </div>

        <div class="flex-wrapper">
            <label for="days">Course length</label>
            <input type="number" id="days" name="days" [(ngModel)]="selectedCourse.days" #days="ngModel" required>
            <div *ngIf="days.dirty && days.invalid">Please enter the length of this course in days</div>
        </div>
        
        <div class="btn-wrapper">
            <button type="submit" [disabled]="courseForm.form.invalid">Submit</button>
        </div>
    </div>
</form>